@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    padding: 0;
    margin: 0;
    background: #E4B8CA;
}
#mynameinfo{
    align-items: center;
    justify-content: space-evenly;
    background-color: #EE7CAA;
    font-family: "Madimi One";
    color: white;
    display: flex;
}
#about-me{
    background: #DC206D;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EE7CAA;
    padding: 1%;
    font-family: "Madimi One";
}
#name{
    background:#EE7CAA;
}
.flower{
    background:#EE7CAA;
 
}
.nav-labels{
    color: white;
    text-decoration: none;
    background: #E15D92;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-family: "Madimi One";
    font-size: 15px;
}
.nav-labels:hover{
    transform: scale(1.2);
}

#text-image{
    display: flex;
    padding : 30px;
    justify-content: space-evenly;
    font-family: "Madimi One";
}
#icons{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
#headshot{
    border-radius: 10px;
}
#main-text{
    padding: 30px;
}
#credit{
    background-color: #EE7CAA;
    font-family: "Madimi One";
    color: white;
    padding: 1%;
    font-size: 20px;
}
#project-page, #work-page, #skills-page, #clubs-page{
    font-family: "Madimi One";
    padding: 2%;
}
.project, .work, .skill, .club {
    padding: 3%;
    margin: 3%;
    border-color:#da236c; 
    border-width: 3px;
    border-style:solid;
    border-radius: 20px;
}
.project:hover{
    transform: scale(1.05);   
}

.project li, .work li, .skill li, .club li{
    padding-left: 3%;
}
footer{
    display: flex;
    background-color: #EE7CAA;
 
}
#social-icons{
    background-color: #EE7CAA;
    padding-top: 1%;
    
    display: flex;
    align-items: right;
}
.social{
    background-color: #EE7CAA;
    padding-left: 10%;
    padding-right: 10%;

}
.social:hover{
    transform: scale(1.1);
}